#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  //top: 50%;
  //transform: translateY(-50%);
}

#container ion-input,
ion-textarea {
  text-align: left;
}

.input-wrapper {
  --background: #fff;
  --padding-start: 12px;
  --padding-end: 12px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin-bottom: 16px;
}

ion-input {
  font-size: 16px !important; // Evita zoom en iPhone
}

ion-label {
  color: var(--ion-color-medium);
}

