.input-wrapper {
  --background: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 4px 12px;
  margin-bottom: 16px;

  // Animación de foco
  transition: border 0.2s ease-in-out;
}

.input-wrapper.ion-focused {
  border: 2px solid var(--ion-color-primary);
}

ion-input {
  font-size: 16px;
}

ion-label {
  color: var(--ion-color-medium);
}


